<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title
      site.Title
    }}
  {{ end }}
</title>
{{ $faviconPath := default "/favicon.svg" site.Params.favicon }}
<link
  rel="icon"
  href="{{ $faviconPath | relURL }}"
  sizes="any"
  type="image/svg+xml"
/>

{{/* Font CSS via link + preconnect, not CSS @import, so fonts fetch in parallel with the bundle. */}}
<link rel="preconnect" href="https://cdn.jsdmirror.com" crossorigin />
<link rel="preconnect" href="https://fontsapi.zeoseven.com" crossorigin />
<link
  rel="stylesheet"
  href="https://cdn.jsdmirror.com/npm/zira-font@latest/zira/fonts.css"
/>
<link
  rel="stylesheet"
  href="https://fontsapi.zeoseven.com/161/main/result.css"
/>
{{- partial "head/meta.html" . -}}

{{ with (templates.Defer (dict "key" "global")) }}
  {{ partial "head/css.html" . }}
{{ end }}
{{- partialCached "head/js.html" . -}}
