<!doctype html>
<html
  lang="{{ site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="transition-none">
    <div class="site-shell">
      <header class="main-header">{{- partial "header.html" . -}}</header>
      <div class="flex grow">
        <div class="main-pane">
          <main id="main-content">{{- .Content -}}</main>
          <footer class="main-footer">{{- partial "footer.html" . -}}</footer>
        </div>
      </div>
    </div>
  </body>
</html>
