/*
  Zira Sans
*/
@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/sans/ZiraSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/sans/ZiraSans-Extended.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/sans/ZiraSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/sans/ZiraSans-ExtendedItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/sans/ZiraSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/sans/ZiraSans-ExtendedBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/sans/ZiraSans-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Sans";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/sans/ZiraSans-ExtendedBoldItalic.woff2") format("woff2");
}

/*
  Zira Mono
*/
@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/mono/ZiraMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/mono/ZiraMono-Extended.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/mono/ZiraMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/mono/ZiraMono-ExtendedItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/mono/ZiraMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/mono/ZiraMono-ExtendedBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/mono/ZiraMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/mono/ZiraMono-ExtendedBoldItalic.woff2") format("woff2");
}

/*
 Zira Serif
*/

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/serif/ZiraSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/serif/ZiraSerif-Extended.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/serif/ZiraSerif-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/serif/ZiraSerif-ExtendedItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/zira/serif/ZiraSerif-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("/fonts/zira/serif/ZiraSerif-ExtendedBold.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/zira/serif/ZiraSerif-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Zira Serif";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url("/fonts/zira/serif/ZiraSerif-ExtendedBoldItalic.woff2")
    format("woff2");
}
