/* ── Helpers ── */
.dim {
  color: var(--color-smudge);
  opacity: 0.75;
}
.notransition,
.transition-none {
  transition: none !important;
}

.show-md {
  display: none;
}
@media (max-width: 1100px) {
  .show-md {
    display: block !important;
  }
}
