{{- define "above" -}}
  {{- partial "home/greetings.html" -}}
{{- end -}}

{{- define "main" -}}
  {{- $indexablePages := where (where site.RegularPages "Section" "in" site.MainSections) "Params.indexable" "ne" false -}}
  <div class="mx-auto max-w-[95%]">
    <div class="show-md">
      {{- partial "search_bar.html" . -}}
    </div>

    {{- $tabs := slice -}}

    {{- if and $indexablePages site.Params.ferro.home.showRecent -}}
      {{- $recent := $indexablePages -}}
      {{- if site.Params.ferro.home.hideRecentWhenFeatured -}}
        {{- $recent = where $indexablePages "Params.featured" "!=" true -}}
      {{- end -}}
      {{- $tabs = $tabs | append (dict
        "id" "recent"
        "title" (printf "%s (%d)" (i18n "recent_posts") (len $recent))
        "items" $recent)
      -}}
    {{- end -}}

    {{- $featured := where $indexablePages "Params.featured" true -}}
    {{- if (and $featured site.Params.ferro.home.showFeatured) -}}
      {{- $tabs = $tabs | append (dict
        "id" "featured"
        "title" (printf "%s (%d)" (i18n "featured_posts") (len $featured))
        "items" $featured)
      -}}
    {{- end -}}

    {{- with $tabs -}}
      {{- partial "home/post_tabs.html" (dict "tabs" .) -}}
    {{- end -}}
  </div>
{{- end -}}

{{- define "side" -}}
  <aside
    class="side-pane{{ cond site.Params.ferro.side.home.sidePaneSticky " side-sticky" "" }} border-border border"
  >
    {{- partial "side/home.html" . -}}
    {{- partial "components/to-top.html" . -}}
  </aside>
{{- end -}}
